In [1]:
!pip install tensorflow.gpu

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tensorflow.gpu in c:\users\hp\appdata\roaming\python\python39\site-packages (2.10.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (3.3.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from tensorflow.gpu) (21.3)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (1.6.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (0.27.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from tensorflow.gpu) (61.2.0)
Requirement already satisfied: keras<2.11,>=2.10.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (2.10.0)
Requirement already satisfied: tensorboard<2.11,>=2.10 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (2.10.0)
Requirement already satisfied: numpy>=1.20 in c:\programdata\anaconda3\lib\site-packages (from tensorflow.gpu) (1.21.5)
Requirement already satisfied: tensorflow-estimator<2.11,>=2.10.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (2.10.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (1.1.2)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (0.4.0)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (2.0.7)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (1.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (14.0.6)
Requirement already satisfied: h5py>=2.9.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow.gpu) (3.6.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\programdata\anaconda3\lib\site-packages (from tensorflow.gpu) (3.19.1)
Requirement already satisfied: six>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow.gpu) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\programdata\anaconda3\lib\site-packages (from tensorflow.gpu) (1.42.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorflow.gpu) (2.0.1)
Requirement already satisfied: wrapt>=1.11.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow.gpu) (1.12.1)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\programdata\anaconda3\lib\site-packages (from tensorflow.gpu) (4.1.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\programdata\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow.gpu) (0.37.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorboard<2.11,>=2.10->tensorflow.gpu) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorboard<2.11,>=2.10->tensorflow.gpu) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow.gpu) (3.3.4)
Requirement already satisfied: werkzeug>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow.gpu) (2.0.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from tensorboard<2.11,>=2.10->tensorflow.gpu) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow.gpu) (2.27.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow.gpu) (1.33.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow.gpu) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow.gpu) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\programdata\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow.gpu) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow.gpu) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow.gpu) (0.4.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow.gpu) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow.gpu) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow.gpu) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow.gpu) (2021.10.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow.gpu) (3.2.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->tensorflow.gpu) (3.0.4)

TensorFlow is a free and open-source software library for machine learning and artificial intelligence.

In [2]:
from tensorflow.keras.models import load_model

In [3]:
# import basic libraries

#for complex mathematical operations
import numpy as np 

#for dataframe manipulation 
import pandas as pd

# for data visulisation
import seaborn as sns
import matplotlib.pyplot as plt


import warnings
warnings.filterwarnings("ignore")

In [4]:
from sklearn.preprocessing import StandardScaler

In [5]:
from tensorflow.keras.models import Sequential
# tensorflow.keras is present in layers package
#Sequential is used for initialising neural network model.......Sequntial indicates that we can do both forward and bakward propogation
from tensorflow.keras.layers import Dense
#Dense used for adding/creating layers(input, hidden and output layers)
from tensorflow.keras.layers import LeakyReLU, PReLU, ELU, ReLU#importing activation functions
from tensorflow.keras.layers import Dropout
# Dropout is like a regularisation paramaeter used to avoid overfitting

In [6]:
dataset = pd.read_csv("Churn_Modelling.csv")

In [7]:
dataset.shape

(10000, 14)

In [8]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [10]:
#dataset.drop(['RowNumber', 'CustomerId','Surname'], axis=1, inplace=True)# axis=1 for coloumnwise operation# works same as code below
dataset=dataset.iloc[:,3:14]

In [11]:
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
dataset['Geography']

0        France
1         Spain
2        France
3        France
4         Spain
         ...
9995     France
9996     France
9997     France
9998    Germany
9999     France
Name: Geography, Length: 10000, dtype: object

In [13]:
dataset['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [14]:
dataset['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [15]:
dataset=pd.get_dummies(dataset,columns=['Geography','Gender'],drop_first=True)# here drop_first =True ----> actually drops first unique value in Geography and Gender

In [16]:
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [17]:
x=dataset.drop("Exited", axis=1)

In [18]:
y=dataset['Exited']

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=42)#to have same output always.....random state is used.....one can use any value for random state
print("The shape of x train : ", x_train.shape)
print("The shape of x test : ", x_test.shape)
print("The shape of y train : ", y_train.shape)
print("The shape of y test : ", y_test.shape)

The shape of x train :  (8000, 11)
The shape of x test :  (2000, 11)
The shape of y train :  (8000,)
The shape of y test :  (2000,)

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)# fit_transform avoids data leakage
x_test = sc.transform(x_test)

In [22]:
classifier=Sequential()#empty model initialised

In [23]:
# Adding i/p layer
classifier.add(Dense(units=11, activation='relu'))
# N.O. of feature in input layer =11

In [24]:
# Adding first hidden layer
classifier.add(Dense(units=7, activation='relu'))
# Let N.O. of neurons in hidden layer = 7
classifier.add(Dropout(0.2))

In [25]:
# Adding second hidden layer
classifier.add(Dense(units=6, activation='relu'))
# Let N.O. of neurons in hidden layer = 6
classifier.add(Dropout(0.3))

In [26]:
# Adding o/p layer
classifier.add(Dense(1, activation='sigmoid'))
# N.O. of neurons in o/p layer = 1 .... for binary classification

In [27]:
classifier.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
# adam is the best optimizer..by default adam uses a learning rte of 0.01
#loss function used is binary crossentropy for binary classification

In [28]:
import tensorflow
tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [29]:
#Early stopping - Stops training when a monitored metric has stopped improving
import tensorflow as tf
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
)

In [30]:
model_history=classifier.fit(x_train,y_train,validation_split=0.33,batch_size=10,epochs=1000,callbacks=early_stopping)

Epoch 1/1000
536/536 [==============================] - 6s 6ms/step - loss: 0.5556 - accuracy: 0.7557 - val_loss: 0.4793 - val_accuracy: 0.7895
Epoch 2/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.4893 - accuracy: 0.7981 - val_loss: 0.4515 - val_accuracy: 0.7914
Epoch 3/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.4596 - accuracy: 0.8035 - val_loss: 0.4348 - val_accuracy: 0.8012
Epoch 4/1000
536/536 [==============================] - 1s 3ms/step - loss: 0.4557 - accuracy: 0.8054 - val_loss: 0.4338 - val_accuracy: 0.8050
Epoch 5/1000
536/536 [==============================] - 1s 3ms/step - loss: 0.4429 - accuracy: 0.8095 - val_loss: 0.4275 - val_accuracy: 0.8069
Epoch 6/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.4408 - accuracy: 0.8084 - val_loss: 0.4224 - val_accuracy: 0.8107
Epoch 7/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.4322 - accuracy: 0.8119 - val_loss: 0.4175 - val_accuracy: 0.8118
Epoch 8/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.4242 - accuracy: 0.8188 - val_loss: 0.4076 - val_accuracy: 0.8194
Epoch 9/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.4153 - accuracy: 0.8184 - val_loss: 0.3993 - val_accuracy: 0.8217
Epoch 10/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.4027 - accuracy: 0.8308 - val_loss: 0.3852 - val_accuracy: 0.8360
Epoch 11/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3989 - accuracy: 0.8309 - val_loss: 0.3789 - val_accuracy: 0.8406
Epoch 12/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3880 - accuracy: 0.8354 - val_loss: 0.3721 - val_accuracy: 0.8459
Epoch 13/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3854 - accuracy: 0.8423 - val_loss: 0.3642 - val_accuracy: 0.8482
Epoch 14/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3821 - accuracy: 0.8405 - val_loss: 0.3611 - val_accuracy: 0.8504
Epoch 15/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3811 - accuracy: 0.8433 - val_loss: 0.3618 - val_accuracy: 0.8504
Epoch 16/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3739 - accuracy: 0.8475 - val_loss: 0.3597 - val_accuracy: 0.8554
Epoch 17/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3763 - accuracy: 0.8462 - val_loss: 0.3571 - val_accuracy: 0.8576
Epoch 18/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3715 - accuracy: 0.8487 - val_loss: 0.3555 - val_accuracy: 0.8591
Epoch 19/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3719 - accuracy: 0.8496 - val_loss: 0.3534 - val_accuracy: 0.8603
Epoch 20/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3679 - accuracy: 0.8461 - val_loss: 0.3490 - val_accuracy: 0.8626
Epoch 21/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3668 - accuracy: 0.8481 - val_loss: 0.3502 - val_accuracy: 0.8618
Epoch 22/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3702 - accuracy: 0.8475 - val_loss: 0.3503 - val_accuracy: 0.8618
Epoch 23/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3668 - accuracy: 0.8535 - val_loss: 0.3569 - val_accuracy: 0.8519
Epoch 24/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3673 - accuracy: 0.8507 - val_loss: 0.3477 - val_accuracy: 0.8599
Epoch 25/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3718 - accuracy: 0.8502 - val_loss: 0.3487 - val_accuracy: 0.8595
Epoch 26/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3630 - accuracy: 0.8563 - val_loss: 0.3512 - val_accuracy: 0.8573
Epoch 27/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3671 - accuracy: 0.8509 - val_loss: 0.3487 - val_accuracy: 0.8569
Epoch 28/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3652 - accuracy: 0.8509 - val_loss: 0.3500 - val_accuracy: 0.8565
Epoch 29/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3613 - accuracy: 0.8526 - val_loss: 0.3516 - val_accuracy: 0.8584
Epoch 30/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3658 - accuracy: 0.8500 - val_loss: 0.3494 - val_accuracy: 0.8554
Epoch 31/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3661 - accuracy: 0.8503 - val_loss: 0.3506 - val_accuracy: 0.8588
Epoch 32/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3639 - accuracy: 0.8518 - val_loss: 0.3471 - val_accuracy: 0.8576
Epoch 33/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3650 - accuracy: 0.8539 - val_loss: 0.3466 - val_accuracy: 0.8595
Epoch 34/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3640 - accuracy: 0.8545 - val_loss: 0.3498 - val_accuracy: 0.8603
Epoch 35/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3604 - accuracy: 0.8539 - val_loss: 0.3483 - val_accuracy: 0.8591
Epoch 36/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3587 - accuracy: 0.8533 - val_loss: 0.3467 - val_accuracy: 0.8607
Epoch 37/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3602 - accuracy: 0.8548 - val_loss: 0.3488 - val_accuracy: 0.8580
Epoch 38/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3603 - accuracy: 0.8535 - val_loss: 0.3474 - val_accuracy: 0.8607
Epoch 39/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3553 - accuracy: 0.8563 - val_loss: 0.3494 - val_accuracy: 0.8573
Epoch 40/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3628 - accuracy: 0.8509 - val_loss: 0.3516 - val_accuracy: 0.8576
Epoch 41/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3529 - accuracy: 0.8563 - val_loss: 0.3485 - val_accuracy: 0.8588
Epoch 42/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3602 - accuracy: 0.8545 - val_loss: 0.3485 - val_accuracy: 0.8603
Epoch 43/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3539 - accuracy: 0.8524 - val_loss: 0.3486 - val_accuracy: 0.8588
Epoch 44/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3564 - accuracy: 0.8541 - val_loss: 0.3506 - val_accuracy: 0.8584
Epoch 45/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3604 - accuracy: 0.8558 - val_loss: 0.3501 - val_accuracy: 0.8573
Epoch 46/1000
536/536 [==============================] - 1s 3ms/step - loss: 0.3585 - accuracy: 0.8517 - val_loss: 0.3518 - val_accuracy: 0.8573
Epoch 47/1000
536/536 [==============================] - 1s 3ms/step - loss: 0.3570 - accuracy: 0.8545 - val_loss: 0.3491 - val_accuracy: 0.8569
Epoch 48/1000
536/536 [==============================] - 1s 3ms/step - loss: 0.3585 - accuracy: 0.8565 - val_loss: 0.3487 - val_accuracy: 0.8580
Epoch 49/1000
536/536 [==============================] - 1s 3ms/step - loss: 0.3598 - accuracy: 0.8545 - val_loss: 0.3504 - val_accuracy: 0.8580
Epoch 50/1000
536/536 [==============================] - 1s 3ms/step - loss: 0.3533 - accuracy: 0.8561 - val_loss: 0.3496 - val_accuracy: 0.8580
Epoch 51/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3541 - accuracy: 0.8591 - val_loss: 0.3455 - val_accuracy: 0.8580
Epoch 52/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3612 - accuracy: 0.8576 - val_loss: 0.3505 - val_accuracy: 0.8576
Epoch 53/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3601 - accuracy: 0.8535 - val_loss: 0.3484 - val_accuracy: 0.8576
Epoch 54/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3541 - accuracy: 0.8591 - val_loss: 0.3508 - val_accuracy: 0.8610
Epoch 55/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3515 - accuracy: 0.8569 - val_loss: 0.3510 - val_accuracy: 0.8595
Epoch 56/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3582 - accuracy: 0.8535 - val_loss: 0.3517 - val_accuracy: 0.8557
Epoch 57/1000

536/536 [==============================] - 1s 3ms/step - loss: 0.3536 - accuracy: 0.8567 - val_loss: 0.3480 - val_accuracy: 0.8607
Epoch 58/1000
536/536 [==============================] - 1s 3ms/step - loss: 0.3508 - accuracy: 0.8567 - val_loss: 0.3494 - val_accuracy: 0.8599
Epoch 59/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3617 - accuracy: 0.8535 - val_loss: 0.3471 - val_accuracy: 0.8591
Epoch 60/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3546 - accuracy: 0.8593 - val_loss: 0.3465 - val_accuracy: 0.8595
Epoch 61/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3530 - accuracy: 0.8574 - val_loss: 0.3499 - val_accuracy: 0.8569
Epoch 62/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3562 - accuracy: 0.8543 - val_loss: 0.3488 - val_accuracy: 0.8610
Epoch 63/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3570 - accuracy: 0.8556 - val_loss: 0.3490 - val_accuracy: 0.8603
Epoch 64/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3548 - accuracy: 0.8509 - val_loss: 0.3486 - val_accuracy: 0.8573
Epoch 65/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3569 - accuracy: 0.8533 - val_loss: 0.3540 - val_accuracy: 0.8591
Epoch 66/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3546 - accuracy: 0.8546 - val_loss: 0.3499 - val_accuracy: 0.8584
Epoch 67/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3555 - accuracy: 0.8567 - val_loss: 0.3493 - val_accuracy: 0.8588
Epoch 68/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3483 - accuracy: 0.8625 - val_loss: 0.3537 - val_accuracy: 0.8557
Epoch 69/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3566 - accuracy: 0.8526 - val_loss: 0.3513 - val_accuracy: 0.8561
Epoch 70/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3543 - accuracy: 0.8567 - val_loss: 0.3506 - val_accuracy: 0.8588
Epoch 71/1000
536/536 [==============================] - 2s 3ms/step - loss: 0.3566 - accuracy: 0.8548 - val_loss: 0.3535 - val_accuracy: 0.8569
Epoch 71: early stopping

In [31]:
# Making predictions for evaluating model
y_pred = classifier.predict(x_test)
y_pred = (y_pred >= 0.5)

63/63 [==============================] - 0s 2ms/step

In [32]:
# Making confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[1562,   31],
       [ 261,  146]], dtype=int64)

In [33]:
# Calculate the accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
score

0.854

In [34]:
#To print the Classification Report :
from sklearn.metrics import classification_report
cr = classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.86      0.98      0.91      1593
           1       0.82      0.36      0.50       407

    accuracy                           0.85      2000
   macro avg       0.84      0.67      0.71      2000
weighted avg       0.85      0.85      0.83      2000